body {
	font: 10pt Arial, Helvetica, sans-serif;
	background: #FFFFFF;
}

h2 {
	font-size: 1.1em;
	color: #800040;
	margin-top: 0;
}

#header {
	font-size: 1.4em;
	text-align: right;
	padding: 5px;
	background-color: #343434;
	background-image: url(IP-banner.jpg);
}

#login {
	float: right;
}

#menu {
	height: auto margin-top: 0px;
	float: right;
	width: auto;
	padding: 0x;
	float: left;
	width: auto;
}

#body {
	margin-left: 220px;
	padding: 10px;
	background: #FFFFFF;
	margin-bottom: 40px;
}

#footer {
	background: #A8A8A8;
	color: #0C0404;
	padding: 5px;
	position: fixed;
	height: 40px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}