<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="hibernate.connection.password">19933991</property>
		<property name="hibernate.connection.url">jdbc:jtds:sqlserver://127.0.0.1;instance=SQLEXPRESS;DatabaseName=ip_addresses</property>
		<property name="hibernate.connection.username">oleg</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.SQLServerDialect
		</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema at startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Names the annotated entity class -->
		<mapping class="tc.lv.domain.dbEntities.IpAddress" />
		<mapping class="tc.lv.domain.dbEntities.IpV4Address" />
		<mapping class="tc.lv.domain.dbEntities.IpV6Address" />
		<mapping class="tc.lv.domain.dbEntities.NotValidIp" />
		<mapping class="tc.lv.domain.dbEntities.Source" />
	</session-factory>
</hibernate-configuration>
