</script>
<title>index JSP</title>

<style type="text/css">
body {
	font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
	background: #e1dfb9; /* Цвет фона */
}

h2 {
	font-size: 1.1em; /* Размер шрифта */
	color: #800040; /* Цвет текста */
	margin-top: 0; /* Отступ сверху */
}

#container {
	width: auto; /* Ширина слоя */
	margin: 0 auto; /* Выравнивание по центру */
	background: #f0f0f0; /* Цвет фона левой колонки */
}

#header {
	font-size: 1.4em; /* Размер текста */
	text-align: right; /* Выравнивание по центру */
	padding: 5px;
	background-color: Silver;
	
	
}

#sidebar {
	height:auto
	margin-top: 0px;
	width: auto; /* Ширина слоя */
	padding: 0x; /* Отступы вокруг текста */
	float: left; /* Обтекание по правому краю */
}

#content {
	margin-left: 145px; /* Отступ слева */
	padding: 10px; /* Поля вокруг текста */
	background: #fff; /* Цвет фона правой колонки */
}

#footer {
	background: #8fa09b; /* Цвет фона подвала */
	color: #fff; /* Цвет текста */
	padding: 5px; /* Отступы вокруг текста */
	clear: left; /* Отменяем действие float */
}
</style>